<div class="container mt-5">
  <div class="row">
    <div class="col-md-6	offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <div class="card	card-outline-secondary">
        <div class="card-header">
          <h4 class="mb-0">Lista de destinos</h4>
        </div>
        <div class="card-body">
          <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5">

  <div class="row">
    
    <app-destino-viaje 
    *ngFor="let destino of all; let i = index" 
    [destino]="destino"
    [posicion]="i+1"
    (clicked)="elegido(destino)"
    ></app-destino-viaje>

  </div>
  <div class="row">
    <h5>Actividades</h5>
    <ul>
      <li *ngFor="let update of updates">
        {{ update }}
      </li>
    </ul>
  </div>

</div>
