<div class="container">
    <div class="row">
        <h1>{{ title }}</h1>
    </div>
    <div class="page-header">
        <div class="container">
            <div class="navLinks">
                <a [routerLink]="['/home']">Home</a>
                <a [routerLink]="['/destino']">Destino</a>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

fecha : {{ fecha | async }}