
  <div class="card-content">
    <div class="card-img">
      <img src="https://placeimg.com/380/230/nature" alt="">
      <span>
        <h4>{{ posicion }}</h4>
      </span>
    </div>
    <div class="card-desc">
      <h3>{{ destino.nombre }}</h3>
      <p>Servicios</p>
      <ul>
        <li *ngFor="let servicio of destino.servicios">
          <span [ngSwitch]="servicio ">
            <i *ngSwitchCase="'desayuno'" style="color: salmon;">
              {{ servicio }}
            </i>
            <i *ngSwitchDefault>
              {{ servicio }}
            </i>
          </span>
        </li>
      </ul>
      <div class="d-block">
        <a href="" (click)="voteUp()">
          <i class="material-icons md-18">thumb_up</i>
        </a>
        <a href="" (click)="voteDown()">
          <i class="material-icons md-18">thumb_down</i>
        </a>

        {{ destino.votes }}
      </div>
      <a href="#" class="btn-card" (click)="ir()">Ir</a>
      <span *ngIf="destino.isSelected()">
        <span ngNonBindable>-- Preferido --</span>
      </span>
      <a [routerLink]="['/destino']">Ver detalle</a>
    </div>
  </div>
